<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sysu.mapper.OrderMapper">
    <resultMap id="result_Order_Map" type="com.sysu.pojo.Order">
        <id column="Order0" property="id" />
        <result column="Order1" property="username" />
        <result column="Order2" property="movieId" />
        <result column="Order3" property="moveName" />
        <result column="Order4" property="cinemaId" />
        <result column="Order5" property="cinemaName" />
        <result column="Order6" property="showTime" />
        <result column="Order7" property="payTime" />
        <result column="Order8" property="makeTime" />
        <result column="Order9" property="num" />
        <result column="Order10" property="seat" />
        <result column="Order11" property="statue" />
    </resultMap>

    <sql id="Assist">
        <where>
            <foreach collection="require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="updateAssist">
        <where>
            <foreach collection="assist.require" item="req" separator=" ">
                ${req.require} #{req.value}
            </foreach>
        </where>
    </sql>

    <sql id="order_Column">
        order.id as Order0
        ,order.username as Order1
        ,order.movie_id as Order2
        ,order.move_name as Order3
        ,order.cinema_id as Order4
        ,order.cinema_name as Order5
        ,order.show_time as Order6
        ,order.pay_time as Order7
        ,order.make_time as Order8
        ,order.num as Order9
        ,order.seat as Order10
        ,order.statue as Order11
    </sql>

    <select id="getOrderRowCount" parameterType="com.sysu.common.Assist" resultType="java.lang.Long">
        select count(id) from order
        <if test="require!=null"><include refid="Assist" /></if>
    </select>
    <select id="selectOrder" parameterType="com.sysu.common.Assist"  resultMap="result_Order_Map">
        select  <if test="distinct !=null">${distinct}</if>
        <choose>
            <when test="resultColumn!=null">${resultColumn}</when>
            <otherwise>
        <include refid="order_Column" /> 
            </otherwise>
        </choose>
        from order
        <if test="require!=null"><include refid="Assist" /></if>
        <if test="order !=null">${order}</if>
        <if test="rowSize !=null"> LIMIT #{rowSize} <if test="startRow !=null"> OFFSET #{startRow}</if></if>
    </select> 

    <select id="selectOrderById" parameterType="java.lang.Integer" resultMap="result_Order_Map">
        select 
            <include refid="order_Column" /> 
        from order
        where order.id = #{id}
    </select> 


    <insert id="insertOrder" parameterType="com.sysu.pojo.Order">
        insert into order(id,username,movie_id,move_name,cinema_id,cinema_name,show_time,pay_time,make_time,num,seat,statue) 
        values(#{id},#{username},#{movieId},#{moveName},#{cinemaId},#{cinemaName},#{showTime},#{payTime},#{makeTime},#{num},#{seat},#{statue})
    </insert>

    <insert id="insertNonEmptyOrder" parameterType="com.sysu.pojo.Order">
        insert into order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="username != null">username,</if>
            <if test="movieId != null">movie_id,</if>
            <if test="moveName != null">move_name,</if>
            <if test="cinemaId != null">cinema_id,</if>
            <if test="cinemaName != null">cinema_name,</if>
            <if test="showTime != null">show_time,</if>
            <if test="payTime != null">pay_time,</if>
            <if test="makeTime != null">make_time,</if>
            <if test="num != null">num,</if>
            <if test="seat != null">seat,</if>
            <if test="statue != null">statue,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null"> #{id},</if>
            <if test="username != null"> #{username},</if>
            <if test="movieId != null"> #{movieId},</if>
            <if test="moveName != null"> #{moveName},</if>
            <if test="cinemaId != null"> #{cinemaId},</if>
            <if test="cinemaName != null"> #{cinemaName},</if>
            <if test="showTime != null"> #{showTime},</if>
            <if test="payTime != null"> #{payTime},</if>
            <if test="makeTime != null"> #{makeTime},</if>
            <if test="num != null"> #{num},</if>
            <if test="seat != null"> #{seat},</if>
            <if test="statue != null"> #{statue},</if>
        </trim>
    </insert>

    <delete id="deleteOrderById" parameterType="java.lang.Integer">
        delete from order
        where id = #{id}
    </delete>

    <delete id="deleteOrder" parameterType="com.sysu.common.Assist">
        delete from order
        <if test="require!=null"><include refid="Assist" /></if>
    </delete>

    <update id="updateOrderById" parameterType="com.sysu.pojo.Order">
        update order set
            username=#{username}
            ,movie_id=#{movieId}
            ,move_name=#{moveName}
            ,cinema_id=#{cinemaId}
            ,cinema_name=#{cinemaName}
            ,show_time=#{showTime}
            ,pay_time=#{payTime}
            ,make_time=#{makeTime}
            ,num=#{num}
            ,seat=#{seat}
            ,statue=#{statue}
        where id=#{id}
    </update>

    <update id="updateNonEmptyOrderById" parameterType="com.sysu.pojo.Order">
        update order
        <set>
            <if test="username != null">
                username=#{username},
            </if>
            <if test="movieId != null">
                movie_id=#{movieId},
            </if>
            <if test="moveName != null">
                move_name=#{moveName},
            </if>
            <if test="cinemaId != null">
                cinema_id=#{cinemaId},
            </if>
            <if test="cinemaName != null">
                cinema_name=#{cinemaName},
            </if>
            <if test="showTime != null">
                show_time=#{showTime},
            </if>
            <if test="payTime != null">
                pay_time=#{payTime},
            </if>
            <if test="makeTime != null">
                make_time=#{makeTime},
            </if>
            <if test="num != null">
                num=#{num},
            </if>
            <if test="seat != null">
                seat=#{seat},
            </if>
            <if test="statue != null">
                statue=#{statue},
            </if>
        </set>
        where id=#{id}
    </update>

    <update id="updateOrder" parameterType="map">
        update order
        <set>
                id=#{enti.id},
                username=#{enti.username},
                movie_id=#{enti.movieId},
                move_name=#{enti.moveName},
                cinema_id=#{enti.cinemaId},
                cinema_name=#{enti.cinemaName},
                show_time=#{enti.showTime},
                pay_time=#{enti.payTime},
                make_time=#{enti.makeTime},
                num=#{enti.num},
                seat=#{enti.seat},
                statue=#{enti.statue},
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

    <update id="updateNonEmptyOrder" parameterType="map">
        update order
        <set>
            <if test="enti.id != null">
                id=#{enti.id},
            </if>
            <if test="enti.username != null">
                username=#{enti.username},
            </if>
            <if test="enti.movieId != null">
                movie_id=#{enti.movieId},
            </if>
            <if test="enti.moveName != null">
                move_name=#{enti.moveName},
            </if>
            <if test="enti.cinemaId != null">
                cinema_id=#{enti.cinemaId},
            </if>
            <if test="enti.cinemaName != null">
                cinema_name=#{enti.cinemaName},
            </if>
            <if test="enti.showTime != null">
                show_time=#{enti.showTime},
            </if>
            <if test="enti.payTime != null">
                pay_time=#{enti.payTime},
            </if>
            <if test="enti.makeTime != null">
                make_time=#{enti.makeTime},
            </if>
            <if test="enti.num != null">
                num=#{enti.num},
            </if>
            <if test="enti.seat != null">
                seat=#{enti.seat},
            </if>
            <if test="enti.statue != null">
                statue=#{enti.statue},
            </if>
        </set>
        <if test="assist.require!=null"><include refid="updateAssist" /></if>
    </update>

</mapper>